<div class="content" role="main">
    <h3>
        {{name}}
    </h3>
    <table id='dashboard' style="width:100%">
        <tr>
            <th>Pendiente</th>
            <th>En progreso</th>
            <th>Terminado</th>
            <th>Revisado</th>
        </tr>
        <tr>
            <td>Automatizar procesos</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>