.content {
    width: 100%;
  }

#dashboard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #dashboard td, #dashboard th {
    border: 1px solid #ddd;
    padding: 40px;
    white-space: nowrap;
  }
  
  #dashboard tr:nth-child(even){background-color: #f2f2f2;}
  
  #dashboard tr:hover {background-color: #ddd;}
  
  #dashboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }